* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #272838;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}
.choice:hover{
  cursor: pointer;
  background-color: #272838;
  
}

.choice{
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 4rem;
  margin-top: 8rem;
}

#user-scr, #comp-scr {
  font-size: 3rem;
}

.msg-cont{
  margin-top: 5rem;
}

#msg{
  background-color: #272838;
  display: inline;
  color: #fff;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
